<div id="header-bar">
	<div id="title-bar"><h1><a class="no-underline" href="/">Andrew LeBlanc</a></h1></div>
	<!--
	<ul>
		<li><a class="no-underline" href="/">About</a></li>
		<li><a class="no-underline" href="/resume">Resume</a></li>
		<li><a class="no-underline" href="https://www.everribbon.com">EverRibbon</a></li>
		<li><a class="no-underline" href="https://www.everbutton.com">EverButton</a></li>
		<li><a class="no-underline" href="http://nlp.naturalparsing.com">NLP</a></li>
		<li><a class="no-underline" href="http://adjectivefor.com">Adjective For</a></li>
	</ul>
	-->
</div>
